@import "bulma.scss";
@import "checkmark";
@import "square-media";

.back-link {
  display: inline-block;
  margin-bottom: .5em;
}

.navbar {
  // box-shadow: $white-bis 0 0 0.75em 0.75em;
}
.navbar-brand img {
 image-rendering: -webkit-optimize-contrast;
}

.is-bordered {
  border: 1px solid $light;
}

.is-justify-between {
  justify-content: space-between;
}

.button {
  &.is-fullwidth {
    span:first-child {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.button + .button {
  margin-top: 1em;
}

.navbar-item .tag {
  margin-left: 0.5em;
}

main {
  min-height: 82.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  @media screen and (orientation: portrait) {
    padding: $box-padding $box-padding/2;
  }
}

// .instruction-card {
//   position: sticky;
//   top: 5.5em;
// }
.instruction-card {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  @media screen and (orientation: portrait) {
    flex-direction: column;
  }
  .card-image {
    flex: 0 0 50%;
  }
}

.reply-card {
  border-radius: $radius;
  overflow: hidden;
  .card-image {
    position: relative;
    background-color: $grey-lighter;
    &::before {
      content: "\F101";
      font-size: 2.5em;
      background-color: transparentize($turquoise,0.3);
      color: white;
      height: 1.5em;
      width: 1.5em;
      line-height: 1.5em;
      text-align: center;
      border-radius: 9999px;
      z-index: 9;
      font-family: 'VideoJS';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: background-color 1s;
    }
    &:hover {
      &::before {
        background-color: transparentize($turquoise,0);
      }
    }
    img {
      object-fit: cover;
    }
  }
  &__loading {
    .card-image::before {
      content: none;
    }
  }
  .card-content {
    display: flex;
    flex-direction: row;
  }
  &__add {
    min-height: 22.5em;
    background-color: transparent;
    box-shadow: none;
    border: 2px dashed $grey-lighter;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
    justify-content: center;
  }
}

.modal-card {
  max-width: 100%;
}

.reply-modal {

  .animation-content {
    border-radius: $radius-large;
    overflow: hidden;
    width: 100%;
    max-width: 175vh;
    display: flex;

    @media screen and (orientation: portrait) {
      flex-direction: column;
      margin: 0;
      border-radius: 0;
      // min-height: 100vh;
      margin-top: auto;
      background-color: $white-bis;
      .modal-card {
        flex-grow: 1;
        min-height: calc(100vh - 100vw);
      }
    }
  }
}

.reply-modal {
  .modal-card-foot {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .field {
    width: 100%;
    .control {
      margin-right: 5px !important;
    }
  }
}

.comment-author {
  display: inline-flex;
  flex-direction: row;
  border-bottom: none;

  @media screen and (orientation: portrait) {
    padding: 10px 20px;
  }

  p {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 1em;
    line-height: 1.2;
    span {
      display: block;
    }
  }

  figure {
    margin-right: .5em;
  }
}

.admin-reply-button--tooltip, .admin-check-button--tooltip {
  position: absolute;
  z-index: 9;
  top: 1.25em;
  right: 1.25em;
}

.admin-reply-button, .admin-check-button {
  border-radius: 9999px;
}
