@import "bulma.scss";
@import "checkmark";
@import "square-media";

.navbar {
  box-shadow: $white-bis 0 0 2em 3em;
}
.navbar-brand img {
 image-rendering: -webkit-optimize-contrast;
}

.is-justify-between {
  justify-content: space-between;
}

.button + .button {
  margin-top: 1em;
}

.navbar-item .tag {
  margin-left: 0.5em;
}
